/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  --accent-color: #353430;
  --background-color: #FF8DCB;
  --main-text-color: #353430;
  --title-color: #FFC2E6;
  --subtitles-color: #353430;
  --color-for-corner-logo: transparent;
  --background-image-url: url(../images/cover-image-light.png);
}

.theme-light .page {
  /* Вам также нужно будет написать ряд подобных селекторов */
}

@media (prefers-color-scheme: light) {
  :root {
    --accent-color: #353430;
    --background-color: #FF8DCB;
    --main-text-color: #353430;
    --title-color: #FFC2E6;
    --subtitles-color: #353430;
    --color-for-corner-logo: transparent;
    --background-image-url: url(../images/cover-image-light.png);
  }
}
