/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  background-image: var(--background-image-url);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.header {
  display: grid;
  align-content: space-between;
  /*row-gap: var(--header-min-rowgap);*/
  padding: var(--main-inline-padding);
  margin-block-end: var(--margin-between-sections);
  height: 100vh;
}

.header__rec {
  display: flex;
  gap: 4px;
  color: var(--color-for-corner-logo);
  position: absolute;
  top: var(--main-inline-padding);
  right: var(--main-inline-padding);
}

.corner-line-top {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25px;
  height: 25px;
  border-block-start: 1px solid var(--accent-color);
  border-inline-end: 1px solid var(--accent-color);
}

.corner-line-bottom {
  width: 25px;
  height: 25px;
  justify-self: start;
  border-block-end: 1px solid var(--accent-color);
  border-inline-start: 1px solid var(--accent-color);
}

.header__recicon {
  width: 9px;
  height: 9px;
  background-color: var(--color-for-corner-logo);
  border-radius: 50%;
  box-shadow: 0 0 4px 2px var(--color-for-corner-logo);
}

.header__theme-menu {
  justify-self: end;
  color: var(--accent-color);
  margin-block-start: var(--header-first-element-margin-top);
  margin-block-end: var(--header-first-element-margin-bottom);
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header__theme-menu-button {
  width: 70px;
  max-height: 26px;
  background-color: transparent;
  border: none;
  height: 26px;
  padding: 0;
}

.header__theme-menu-button:focus-visible {
  outline: none;
  border-bottom: 1px solid var(--accent-color);
}

.header__theme-menu-button:hover {
  border: 1px solid color(from var(--accent-color) xyz x y z / 40%);
  cursor: pointer;
}

.header__theme-menu-button_active {
  border: 1px solid var(--accent-color);
  pointer-events: none;
}

.header__theme-title {
  color: var(--title-color);
  font-size: var(--title-font-size);
  text-shadow: 4px 4px 0 var(--background-color);
  line-height: 82.5%;
  font-weight: bold;
  margin-block-end: var(--header-second-element-margin-bottom);
}

.title-decor {
  color: var(--subtitles-color);
  background-color: var(--background-color);
  font-weight: bold;
  font-size: 18px;
  line-height: 23.4px;
}

.header__title-decor {
  margin-block-end: var(--header-third-element-margin-bottom);
}

.subtitle {
  font-weight: normal;
}

main {
  display: grid;
  gap: var(--main-rowgap);
  padding-inline: var(--main-inline-padding);
  margin-block-end: var(--margin-between-sections);
}

.main__section {
  display: grid;
  grid-template-columns: var(--main-grid-layout);
  gap: var(--main-inside-section-rowgap);
}

.main__section-h2 {
  font-size: inherit;
  color: var(--accent-color);
}

.main__section-text {
  color: var(--main-text-color);
  margin-block-start: 10px;
}

.main__section-url {
  text-decoration: none;
  text-shadow: 2px 1px 0 var(--background-color);
}

.main__section-url:focus-visible {
  outline: 1px solid var(--main-text-color);
}

.main__section-url:hover {
  border-bottom: 1px solid var(--main-text-color);
}

.main__section-gallery {
  display: grid;
  grid-template-columns: var(--main-grid-layout);
  gap: var(--main-inside-section-gallery-rowgap);
}

.main__gallery-item {
  display: block;
  width: 100%;
}

footer {
  display: grid;
  justify-items: end;
  padding: var(--main-inline-padding);
  height: 100vh;
  align-content: space-between;
}

.footer__theme-title {
  color: var(--title-color);
  font-size: var(--title-font-size);
  text-shadow: 2px 2px 0 var(--accent-color);
  line-height: 82.5%;
  font-weight: bold;
  justify-self: center;
}

@media (width >= 767px) {
  :root {
    --main-inline-padding: 20px;
    --margin-between-sections: 60px;
    --header-min-rowgap: 138px;
    --header-first-element-margin-top: 172px;
    --header-first-element-margin-bottom: 35px;
    --header-second-element-margin-bottom: 24px;
    --header-third-element-margin-bottom: 0;
    --title-font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    --main-grid-layout: 1fr 1fr 1fr;
    --main-rowgap: 80px;
    --main-inside-section-gallery-rowgap: 20px;
  }

  .header {
    grid-template-columns: 1fr 1fr;
  }

  .header__theme-menu {
    grid-column: 2;
  }

  .header__theme-title {
    grid-column: span 2;
    margin-inline-start: calc(-1*var(--main-inline-padding));
  }

  .header__title-decor {
    grid-column: 2;
  }

  .main__section-h2-first {
    grid-row: 1 / 3;
  }

  .main__section-first {
    grid-column: 2 / 4;
  }

  .main__section-h2-second {
    grid-row: 1;
  }

  .main__section-second {
    grid-column: 1 / 4;
  }

  .main__section-h2-third {
    grid-row: 1 / 7;
  }

  .main__section-third {
    grid-column: 2 / 4;
  }

  .main__section-gallery-title {
    grid-column: 1 / 4;
  }

  .main__gallery-item {
    object-fit: cover;
    width: 100%;
    height: 100%;
    
  }

  .main__gallery-item-sunset {
    grid-column: 1 / 3;
  }

  .main__gallery-item-icecream {
    grid-column: 3;
    grid-row: 2 / 4;
  }

  .main__gallery-item-tape {
    grid-column: 1;
    grid-row: 3 / 5;
  }

  .main__gallery-item-street {
    grid-column: 2 / 4;
  }
}

@media (width >= 1024px) {
  :root {
    --header-min-rowgap: 89px;
    --header-first-element-margin-top: 0;
    --header-first-element-margin-bottom:184px;
    --header-second-element-margin-bottom: 25px;
    --header-third-element-margin-bottom: 0;
  }

  .header__theme-menu {
    justify-self: center;
    grid-column: 1 / 3;
  }
  .header__theme-menu-list {
    flex-direction: row;
  }

  .main__section-h2-second {
    grid-column: 1;
  }

  .main__section-second {
    grid-row: 2;
    grid-column: span 1;
  }
}